<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Final Techfios Project">
    <test name="Testcasepractice">
         <parameter name="category" value="grocery" />
         <classes>
             <class name="test.AddCategoryTest"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->